* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none; }

body {
  background: #c4e5f0;
  color: #042331; }

.box {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 8%; }

h1 {
  color: #042331;
  text-transform: uppercase;
  font-family: 500; }

.box input[type="text"], .box select, .box input[type="date"], .box input[type="number"], .box input[type="email"], .box input[type="password"], .log input[type="password"], .log input[type="text"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #042331;
  padding: 10px;
  width: 200px;
  outline: none;
  color: black;
  border-radius: 24px;
  transition: 0.25s; }

.box select {
  width: 223px; }

select:focus {
  width: 280px; }

.box input[type="text"]:focus, .box input[type="date"]:focus, .box input[type="number"]:focus, .box input[type="email"]:focus {
  width: 280px; }

.box input[type="submit"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #042331;
  padding: 14px 40px;
  outline: none;
  color: black;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer; }

#registrarse2, #login2 {
  position: absolute;
  top: 2%;
  right: 2%;
  border: 0;
  background: none;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #042331;
  padding: 12px 10px;
  width: 150px;
  outline: none;
  color: black;
  border-radius: 24px;
  transition: 0.25s; }

#registrarse2:hover, #login2:hover {
  background: #042331;
  color: white; }

input[type="submit"]:hover {
  background: #042331;
  color: white; }

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

.box input:focus:invalid {
  border-color: red; }

.registro {
  display: none; }

.log {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 12%; }

#check {
  display: none; }

#login2 {
  display: none; }

#check:checked ~ .inicio {
  display: none; }

#check:checked ~ .registro {
  display: block; }

#check:checked ~ #registrarse2 {
  display: none; }

#check:checked ~ #login2 {
  display: block; }

#userl {
  position: absolute;
  top: 2%;
  right: 2%;
  border: 0;
  background: none;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #042331;
  padding: 12px 10px;
  width: 150px;
  outline: none;
  color: black;
  border-radius: 5px;
  transition: 0.25s; }

.wrapper {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center; }

.wrapperr {
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center; }

.img {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start; }

.ride {
  height: 200px; }

ul {
  list-style: none;
  color: #042331;
  background: none;
  border: 2px solid #042331;
  border-radius: 4px;
  transition: 0.6s;
  overflow: hidden;
  text-align: center;
  line-height: 40px; }

ul li {
  color: #042331;
  float: left; }

ul li a {
  padding-right: 25px;
  padding-left: 25px;
  color: #042331;
  text-decoration: none;
  display: block; }

a {
  color: #042331; }

a:visited {
  color: #042331; }

ul li a:hover {
  background: #042331;
  color: white; }

ul li:hover {
  background: #042331; }

.rides {
  width: 650px;
  border: 2px solid #042331;
  border-radius: 4px; }

.rides * {
  padding-left: 15px; }

table tr th {
  padding-right: 100px; }

.nuevo {
  margin-left: 84%;
  padding: 6px 20px;
  color: #042331;
  background: none;
  border: 2px solid #042331;
  border-radius: 4px;
  transition: 0.6s;
  overflow: hidden;
  text-align: center;
  line-height: 40px; }

.d {
  background-color: #2f85ad; }

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center; }

a.login {
  margin: 20px 20px 0 0;
  align-self: flex-end;
  height: 40px;
  width: 140px;
  color: #042331;
  background: none;
  border: 2px solid #042331;
  font-size: large;
  border-radius: 4px;
  transition: 0.6s;
  overflow: hidden;
  text-align: center;
  line-height: 40px; }

a.login:hover {
  height: 45px;
  width: 150px;
  color: #ccc;
  background: #042331;
  cursor: pointer;
  line-height: 50px; }

a.login:focus {
  outline: none; }

.rideImage {
  text-align: center;
  width: 40%;
  height: 300px; }

.ride {
  width: 40%; }

.searchBox {
  margin: 20px 0 20px 0;
  text-align: center;
  height: 100px;
  width: 40%;
  border: 2px solid #042331;
  border-radius: 4px;
  line-height: 100px; }

.buscar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.buscar select {
  margin-right: 10%;
  height: 42px;
  width: 140px;
  color: #042331;
  border: 2px solid #042331;
  font-size: large;
  border-radius: 4px;
  background: none;
  font-size: 14px;
  text-align: center;
  line-height: 42px; }

.buscar label {
  margin-right: 2%;
  color: #042331;
  background: none;
  font-size: 14px;
  text-align: center; }

.buscar input {
  height: 40px;
  width: 140px;
  color: #042331;
  background: none;
  border: 2px solid #042331;
  font-size: large;
  border-radius: 4px;
  transition: 0.6s;
  overflow: hidden;
  text-align: center;
  line-height: 40px; }

.buscar input:hover {
  color: #ccc;
  background: #042331;
  cursor: pointer; }

.buscar input:focus, .buscar select:focus, .buscar label:focus {
  outline: none; }

.results {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

table td, table th {
  padding-left: 80px;
  padding-bottom: 3px;
  font-size: 18px; }

.agregar {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start; }

form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center; }

.all {
  width: 550px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start; }

input[type="text"], textarea, select {
  margin-bottom: 10px;
  margin-right: 20px;
  border: 0;
  background: none;
  border: 2px solid #042331;
  padding: 10px;
  width: 200px;
  outline: none;
  color: black;
  border-radius: 24px;
  transition: 0.25s; }

input[type="time"] {
  margin-bottom: 10px;
  margin-right: 20px;
  border: 0;
  background: none;
  border: 2px solid #042331;
  padding: 10px;
  width: 80px;
  outline: none;
  color: black;
  border-radius: 24px;
  transition: 0.25s; }

textarea {
  resize: none; }

input[type="submit"] {
  border: 0;
  background: none;
  border: 2px solid #042331;
  font-size: large;
  padding: 14px 40px;
  outline: none;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer; }

.cancel {
  margin-bottom: 5px;
  border: 0;
  background: none;
  border: 2px solid #042331;
  padding: 7px 25px;
  outline: none;
  border-radius: 24px;
  transition: 0.25s; }

.sett {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start; }

.sett input[type="text"], .sett textarea {
  margin-bottom: 10px;
  border: 0;
  background: none;
  border: 2px solid #042331;
  padding: 10px;
  width: 200px;
  outline: none;
  color: black;
  border-radius: 24px;
  transition: 0.25s; }

.sett input[type="submit"] {
  border: 0;
  background: none;
  border: 2px solid #042331;
  font-size: large;
  padding: 14px 40px;
  outline: none;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer; }

.sett .cancel {
  margin-bottom: 5px;
  border: 0;
  background: none;
  border: 2px solid #042331;
  padding: 7px 25px;
  outline: none;
  border-radius: 24px;
  transition: 0.25s; }

.sett textarea {
  resize: none; }

.sett .days {
  padding-left: 15px; }

/*# sourceMappingURL=styles.css.map */
